* {
  box-sizing: border-box;
  -webkit-font-smoothing: antiAliased;
  text-rendering: optimizeLegibility;
}

html,
body {
  /* background-color: #fff; */
  /* color: #000; */
  margin: 0;
  height: 100%;
  font-size: 14px;
}

/* color themes ---------------------------------------------------------------*/
.minted {
  background-color: #f7fff0;
  color: #875776;
  fill: #875776;
}

.dour-melon {
  background-color: #e7ff83;
  color: #f98f69;
  fill: #f98f69;
}

.brass {
  background-color: #e1ffe2;
  color: #db9942;
  fill: #db9942;
}

.imbue-my-blue {
  background-color: #81f2f2;
  color: #f7fff0;
  fill: #f7fff0;
}

.just-rust {
  background-color: #fff4e1;
  border-color: #f99378;
  color: #f99378;
  fill: #f99378;
}

/* .slow-like-honey {}

.neon-zebra {}

.the-red-we-painted {} */

/* animation ----------------------------------------------------------------- */

@keyframes fadeIn {
  from { opacity: 0; } to { opacity: 1; }
}

@keyframes fadeInHalf {
  from { opacity: 0; } to { opacity: 1; }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.9s;
  animation-delay: 0s;
}

.fade-in-half {
  opacity: 0;
  animation: fadeInHalf ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: .2s;
}

.fade-in-last {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: .4s;
}

/* fonts --------------------------------------------------------------------- */
@font-face{
  font-family: 'Coolvetica';
  font-style: normal;
  font-weight: normal;
	src: url('/fonts/Fontspring-DEMO-coolvetica_lt.otf');
}

@font-face{
  font-family: 'Mermaid';
  font-style: normal;
  font-weight: normal;
	src: url('/fonts/Mermaid1001.ttf');
}

@font-face{
	font-family: 'Space Mono';
  font-style: normal;
  font-weight: normal;
	src: url('/fonts/SpaceMono-Regular.woff');
}

@font-face{
	font-family: 'Space Mono';
  font-style: italic;
  font-weight: normal;
	src: url('/fonts/SpaceMono-Italic.woff');
}

@font-face{
	font-family: 'Space Mono';
  font-style: normal;
  font-weight: bold;
	src: url('/fonts/SpaceMono-Bold.woff');
}

@font-face{
	font-family: 'Space Mono';
  font-style: italic;
  font-weight: bold;
	src: url('/fonts/SpaceMono-BoldItalic.woff');
}

@font-face{
	font-family: 'Young Serif';
  font-style: italic;
  font-weight: regular;
	src: url('/fonts/YoungSerif-Regular.woff');
}

/* main typography ----------------------------------------------------------- */

h1 {
  margin: 0;
}

.header_h1 {
  font-family: 'Space Mono', 'Courier', monospace;
  line-height: 1.5;
  font-size: 14px;
  font-weight: normal;
}

h2 {
  font-family: 'Space Mono', 'Courier', monospace;
  font-size: 12px;
  font-weight: normal;
}

p {
  font-family: 'Space Mono', 'Courier', monospace;
  font-size: 12px;
  font-weight: normal;
}

a {
  font-style: normal;
}

a:visited {
  color: black;
}

.recolor:visited {
  color: inherit;
}

q,
.lyric-snip {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/* page structure ------------------------------------------------------------ */
.page-wrapper {
  display: flex;
  width: 100%;
}

.lyric_container {
  margin: 0 30px;
  width: 100%;
}

.lyric_container-quote h1 {
  font-family: 'Young Serif', Times, serif;
  letter-spacing: 1px;
  font-size: 2rem;
  line-height: 1.4;
  margin: 40px 0;
}

.lyric_container-mark {
  margin-top: 30px;
}

.page-divider {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.page-divider-p,
.page-divider-hr {
  padding: 0;
  margin-top: 0;
  font-weight: bold;
}

.page-divider_top-border {
  flex-grow: 1;
  border-top: 1px solid;
  margin: 8px 15px 0 15px;
}

.lyric_container-mark-bottom {
  transform: rotate(180deg);
}

.lyric_container-hr {
  background-color: inherit
}

.lyric_container-info h2 {
  padding: 25px 0 0 0;
}

.lyric_container-info h2:first-child {
  margin-top: 0;
  padding-top: 0;
  font-style: italic;
}

.lyric_container-info {
  margin-top: 60px;
}

/* footer -------------------------------------------------------------------- */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
}

.footer_p {
  line-height: 1;
  margin: 0;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

/* tablets ------------------------------------------------------------------- */
@media (min-width: 768px) {
  .page-wrapper {
    padding: 30px;
  }

  .lyric_container {
    padding: 0 0 0 30px;
  }

  .lyric_container h1{
    margin: 60px 0 120px 0;
  }
}

@media (min-width: 1100px) {
  .page-wrapper {
    flex-direction: column;
  }
  .header {
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto 30px auto;
  }
  .lyric_container {
    width: 75%;
    display: flex;
    align-items: flex-end;
    margin: auto;
  }
  .lyric_container-quote {
    width: 60%;
  }
  .lyric_container-quote h1 {
    line-height: 1.2;
    font-size: 4rem;
    margin-bottom: 0;
  }
  .lyric_container-mark {
    font-size: 300px;
    margin-top: -70px;
  }
  .lyric_container-info {
    width: 35%;
    padding-left: 30px;
  }
  .lyric_container-info h2{
    padding: 30px 0 15px 0;
  }
  .lyric_container-mark {
    margin-top: -25px;
  }
}
